**/.DS_Store
.idea/
.vs/
.vscode/

./build/.cmake
./build/.cmake/*
./build/.cmake/**
**/cmake-build-*/
**/CMakeFiles/
**/CMakeLists.txt.user
**/CMakeUserPresets.json
**/compile_commands.json
out/
**/cmake_install.cmake
**/CMakeCache.txt
**/Makefile
./.clangd
